-e git+http://git.direct-netware.de/pas/http/core/#egg=pas_http_core
-e git+http://git.direct-netware.de/pas/session/#egg=pas_session
-e git+http://git.direct-netware.de/pas/tasks/#egg=pas_tasks
-e git+http://git.direct-netware.de/pas/user_profile/#egg=pas_user_profile